<html>
  {% extends 'bootstrap/base.html' %}
  {% block content %}
  <body>
    <div class="container">
      <div class="jumbotron">
          <div>
              <h5 class="lead text-center title"> Detalhes do usuário </h5>
          </div>
          <ul class="list-group">
              <li class="list-group-item"> {{ user.id }} </li>
              <li class="list-group-item"> {{ user.name }} </li>
              <li class="list-group-item"> {{ user.email }} </li>
          </ul>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
