<!DOCTYPE HTML>
<html lang=”pt-br”>
    <head>
        <meta charset=”UTF-8”>
        <title>{% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="{{ url_for('index') }}" class="nav-link"> Home </a>
                </li>
                {% if not current_user.is_authenticated %}
                  <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link"> Register </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link"> Login </a>
                  </li>

                {% else %}
                  <li class="nav-item">
                      <a href="{{ url_for('profile') }}" class="nav-link"> My Profile </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('edit_user', id=current_user.id ) }}" class="nav-link"> Edit </a>
                  </li>
                  <li class="nav-item px-5">
                      <a href="{{ url_for('logout') }}" class="nav-link"> Logout </a>
                  </li>
                {% endif %}
            </ul>
        </div>
      </nav>
      <div class="container">
          {% block section %} {% endblock %}
      </div>

      <div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </div>
    </body>
</html>
