<html>
  {% extends 'layout.html' %}
  {% block title %} Login {% endblock %}
  {% block section %}
          <form class="form" method="post" action="{{ url_for ('login') }}" id="formLogin">
              <div class="form-group">
                <label for="email"> E-mail: </label>
                <input class="form-control" type="text" name="email" id="email"/>
              </div>
              <div class="form-group">
                <label for="password"> Password: </label>
                <input class="form-control" type="password" name="password" id="password"/>
              </div>
              <input type="submit" class="btn btn-primary" value="Login"/>
          </form>
  {% endblock %}

</html>
