<html>
  {% extends 'bootstrap/base.html' %}
  {% block content %}
    <head>
          {% block title %} {% endblock %}
    </head>
    <body>
        <div class="container">
            <div> <h2 class="lead text-center"> Register form </h2> </div>
            <form class="form" method="post" action="{{ url_for ('register') }}" id="formRegister" autocomplete="off">
                <div class="form-group">
                  <label for="name"> Name: </label>
                  <input class="form-control" type="text" name="name" id="name"/>
                </div>
                <div class="form-group">
                  <label for="email"> E-mail: </label>
                  <input class="form-control" type="text" name="email" id="email"/>
                </div>
                <div class="form-group">
                  <label for="password"> Password: </label>
                  <input class="form-control" type="password" name="password" id="password"/>
                </div>
                <input type="submit" class="btn btn-success" value="Register"/>
            </form>
        </div>
    </body>
  {% endblock %}

</html>
