<html>
  {% extends 'layout.html' %}
  {% block section %}
  <body>
    <div class="container">
      {% if current_user.is_authenticated %}
          <div> <h3 class="display-4 text-center">Users</h3></div>
          <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">
                  <p class="text-justify lead">{{ user.name }}</p>
                  <hr/>
                  <div class="">
                      <a class="btn btn-primary" href="{{ url_for('unique', id=user.id) }}">
                          Detalhes
                      </a>
                  </div>
                </li>
                <hr/>
            {% endfor %}
          </ul>
      {% else%}

          <div class="jumbotron">
              <h4 class="display-4 text-center"> Flask </h4>
              <p class="lead text-center">
                  Faça
                  <a href="{{ url_for('login') }}">
                    login
                  </a>
                  para visualizar a listagem e os detalhes dos usuários cadastrados
                  <br>
                  Ainda não tem uma conta? Registre-se
                  <a href="{{ url_for('register') }}">
                    aqui
                  </a>
              </p>
          </div>

      {% endif %}
    </div>

  </body>
  {% endblock %}
</html>
