<html>
    {% extends 'bootstrap/base.html' %}
    <head>

    </head>

    <body>
        {% block content %}
            <h4 class="alert alert-success"> Página de Response </h4>
        {% endblock %}
    </body>

</html>
